body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #000000, #b88a44);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-weight: 600;
  color: gold;
}

.form-box {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.3);
}

.input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

button {
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: gold;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: #d4af37;
}

.message {
  margin-top: 10px;
  font-size: 14px;
  color: lightgreen;
}

.hidden {
  display: none;
}

#toggle-link {
  color: gold;
  cursor: pointer;
}
